<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EWU Calligraphy</title>

  <link rel="stylesheet"  href="{{ STATIC_URL }}css/jquery-ui.css"  />
  <link ref="stylesheet"  href="{{ STATIC_URL }}css/bootstrap-theme.css" />
  

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
  
</head>
<body>
  {% load staticfiles %}
  {% block content %}
  {% endblock %}
</body>
</html>
