<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EWU Calligraphy</title>
</head>
<body>
  {% load staticfiles %}

  <link href="{{ STATIC_URL }}css/excite-bike/jquery-ui.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/carrotcell.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/carrotskin.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript"
    src="{{ STATIC_URL }}js/jquery.js">
  </script>
  
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->

  <script type="text/javascript"
    src="{{ STATIC_URL }}js/jquery-ui.js">
  </script>
  <script type="text/javascript"
           src="{{ STATIC_URL }}js/velocity.js"> // Recommended dependency for jCarrotCell
  </script>
  <script type="text/javascript"
           src="{{ STATIC_URL }}js/jCarrotCell.js"> // Used for the image carrousel
  </script>
    {% block content %}

    {% endblock %}
</body>
</html>
