<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EWU Calligraphy</title>
</head>
<body>
  {% load staticfiles %}
  <link href="{{ STATIC_URL }}css/jquery-ui/excite-bike/jquery-ui.css" rel="stylesheet" />
  <script type="text/javascript"
    src="{{ STATIC_URL }}js/jquery.js">
  </script>
  <script type="text/javascript"
    src="{{ STATIC_URL }}js/jquery-ui.js">
  </script>
  <script type="text/javascript"
          src="{{ STATIC_URL }}js/jquery.jcarousel.js">
  </script>
    {% block content %}

    {% endblock %}
</body>
</html>
