.page_container {
  margin-bottom: 1em;
}

.page_viewport {
position: relative;
overflow: hidden;
border:1px solid #ccc;
width:640px;
height:480px;
border: dashed 5px #999;
}

.controls {
      background: #ccc;
      padding: 1em;
      display: inline-block;
    }


.page_viewport img

.page_zoom_slider_label {
  margin-top: .5em;
}
.char_box {
    border: 2px solid #40ff18;
    position: absolute;
}

.char_box_hover {
    border: 2px solid #63a0ff;
    position: absolute;
}

.char_box_hover2 {
    border: 2px solid #c376fe;
}

.char_box_select {
border: 2px solid #ff5b60;
}

.char_box_resize {
    border: 2px solid #C0001B;
    position: absolute;
}

.similar_chars {
     width: 600px;
     height: auto;
}

.container2 {
  background: #eee;
  overflow: auto;
  height: 459;
}
/* clearfix */
.container2:before,
.container2:after {
    content: "";
    display: table;
}
.container2:after {
    clear: both;
}

.item {
  float: left;
  margin-bottom: 10px; 

}
.item img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
.first-item {
  clear: both;
}
/* remove margin bottom on last row */
.last-row, .last-row ~ .item {
  margin-bottom: 0;
}

.draw-overlay {
    z-index: 1;
    position: absolute;
  }

.vLine{
  position: absolute;
  background-color: red;
  height: 100%;
  width: 2px;

}

 .hLine{
  position: absolute;
  background-color: red;
  height: 2px;
  width: 100%;
}
