#SCGTemplate {
   display: none;
}

#gallery {
   margin: 1em;
}

.mediaContainer {
   height: 60vh;
}
.media img {
    height: 300px;
    
}

ul.carousel {
   padding: 0px;
   margin: 0px;
   width: 100%;
   overflow: hidden;
   white-space: nowrap;
}

.goToPrevious.disabled, .goToNext.disabled {
   display: none;
}

ul.carousel li {
    width: 40px;
    padding: 0px;
    margin: 0.25em 0.5em;
    list-style: none;
    display: inline-block;
}

ul.carousel li.active {
   border: 3px solid red;
   width: 40px;
}
