{% extends parent_template|default:"ewucal/base.html" %}

{% block content %}
  {% load staticfiles %}
  <style>
  .page_container {
    margin-bottom: 1em;
}

.page_viewport {
  position: relative;
  overflow: hidden;
  border:1px solid #ccc;
  width:640px;
  height:480px;
  border: dashed 5px #999;
}

.page_viewport img

.page_zoom_slider_label {
    margin-top: .5em;
}
  .char_box {
  border: 2px solid #40ff18;
}

  </style>


  <div class="pane">
    <img src="{% static page.get_image %}" />
  </div>

  <script type="text/javascript">

      function buildABox(x1, y1, x2, y2) {
          var $charBox = $('<div class="char_box"></div>')
                  .css({
                      'width': x2 - x1,
                      'height': y2 - y1,
                      'left': x1,
                      'top': y1,
                      'position': 'absolute'

                  }).draggable({scroll: false,
                                addClasses: false}).resizable();
          return $charBox
      }

    function iWindow ( $ ){
      var settings = {
        'width': 450,
        'zoom_min': 100,
        'zoom_max': 3000
      };



      var $image = $('.pane img').extend({
                  start_height: {{ page.image_length }},
                  start_width: {{ page.image_width }},
                  zoom_ratio: {{ page.image_length }} / {{ page.image_width }}})


      $image.width(settings.width ).height(settings.width * $image.zoom_ratio)
      $image.css({'left': 0, 'top': 0});
      $image.css('position','absolute').wrap('<div class="page_container"><div class="page_viewport"></div></div>');

      var $viewport = $image.parent().resizable()

//      $viewport.append('<div class="page_viewport" />')

      var $container = $viewport.parent();

      //A bunch of variables for dynamic resizing
      var scaleLeft = $image.width() / settings.zoom_max
      var scaleTop = scaleLeft *  $image.zoom_ratio
      var offsetLeft = 0
      var offsetTop = 0

      var $zoom_widget = $('<div class="jrac_zoom_slider"><div class="ui-slider-handle"></div></div>')
      .slider({
        value: $image.width(),
        min: settings.zoom_min,
        max: settings.zoom_max,
        slide: function (event, ui) {
          var height = Math.round($image.zoom_ratio * ui.value);
          $image.height(height);
          $image.width(ui.value);
          scaleLeft = ui.value / settings.zoom_max
          scaleTop = scaleLeft * $image.zoom_ratio
          var newLeft = Math.round(offsetLeft * scaleLeft + $viewport.width() / 2)
          var newTop = Math.round(offsetTop * scaleTop + $viewport.height() / 2)
          $image.css({'left': newLeft, 'top': newTop});
          }
      });
      $container.append($zoom_widget);

      // Enable the image draggable interaction
      $image.draggable({
        drag: function (event, ui) {
          offsetLeft = Math.round((ui.position.left - $viewport.width() / 2) / scaleLeft)
          offsetTop = Math.round((ui.position.top - $viewport.height() / 2) / scaleTop)
        },
          scroll: false,
          addClasses: false
      });

        {% for char in chars %}
            var $gotbox = buildABox({{  char.x1 }}, {{ char.y1 }}, {{  char.x2 }}, {{  char.y2 }})
            $viewport.append($gotbox)
        {% endfor %}
  }

  $(document).ready( iWindow )
  </script>

{% endblock %}
