{% extends parent_template|default:"ewucal/base.html" %}
{% block content %}
  {% load staticfiles %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/page.js"></script>

  <style>
  .page_container {
    margin-bottom: 1em;
}

.page_viewport {
  position: relative;
  overflow: hidden;
  border:1px solid #ccc;
  width:640px;
  height:480px;
  border: dashed 5px #999;
}

.page_viewport img

.page_zoom_slider_label {
    margin-top: .5em;
}
.char_box {
  border: 2px solid #40ff18;
}

.char_box_hover {
  border: 2px solid #63a0ff;
}

.char_box_select {
  border: 2px solid #ff5b60;
}

#relatedChars {
    width: 800px; }

  </style>

  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: red" >
      <div class="pane">
        <img src="{% static page.get_image %}" >
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="background-color: green">
      <span>
        <img src="" id="leftThumbnail"><img src="" id="rightThumbnail">
      </span>
    </div>
  </div>


  <div id="relatedChars" class="carrotCell">
    <div class = "carrotCellView">
      <ol>
      </ol>
    </div>
    <ol class="navi"></ol>
    <div class="prev">prev</div>
    <div class="next">next</div>
  </div>
  <button>{{ page.image_type_httpRequest }}</button>
  {% endblock %}
