{% extends parent_template|default:"ewucal/base.html" %}
{% block content %}
  {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/page.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/page.js"></script>

  <div id="pageIdHolder" pageId="{{ page.id }}"></div>

  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: red" >
      <div class="pane">
        <img src="{% static page.get_image %}" >
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="background-color: green">
      <span>
        <img src="" id="leftThumbnail"><img src="" id="rightThumbnail">
      </span>
    </div>
  </div>


  {% endblock %}
