{% extends "calligraphy/root.html" %}

{% block menu2 %}
{% load staticfiles %}
    <div class="container2">
            <ol>
                <li> <a href="/"> Switch to browsing   </a>    </li>
                {% if user.is_authenticated %}
                    <li> <a href="/validate/draw-chars/1"> View/Edit Boxes </a></li>
                    <li> <a href="/validate/draw-chars/0"> Draw new Boxes </a></li>
                    <li> <a href="/validate/compare-chars"> Compare Boxes</a></li>
                    <li> <a href="/validate/eval-bad-pages"> Evaluate bad pages</a></li>
                    <li> <a href="/validate/view-progress"> View Progress </a>-</li>
                    <li> <a href="/validate/examine-predictions"> Examine Predictions </a>-</li>
                {% else %}
                    <li <a></a> You must be logged in to use this page!  </li>
                {% endif %}
            </ol>
    </div>

{% endblock %}
