{% extends "calligraphy/validate_root.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/page.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/find_offsets.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/get_csrf_token.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/json2.js"></script>

<div class="controls">
  <div class="active_wrap">
    <h3>1.) Visible Set</h3>
    <div class="active_bar">
      <label for="active_0">0</label>
      <input type="radio" name="active" id="active_0" data="0" checked>
      <label for="active_1">1</label>
      <input type="radio" name="active" id="active_1" data="1">
      <label for="active_2">2</label>
      <input  type="radio" name="active" id="active_2" data="2">
      <label for="active_bad">Bad</label>
      <input type="radio" name="active" id="active_bad" data="3">
    </div>
  </div>
  <div class="transfer_wrap">
    <h3>2.) Transfer Set</h3>
    <div class="transfer_bar">
      <button class="transfer_button" id="transfer_0" data="0" name="transfer">0</button>
      <button class="transfer_button" id="transfer_1" data="1" name="transfer">1</button>
      <button class="transfer_button" id="transfer_2" data="2" name="transfer">2</button>
      <button class="transfer_button" id="transfer_3" data="3" name="transfer">Bad</button>
    </div>
  </div>
</div>

<div class="container">
    <div id="page_viewport">
        <img src="" class="draggable">
    </div>
    <button class="rotate_button">Rotate</button>
</div>

<button class="submit_button">Submit</button>




{% endblock %}

