{% extends parent_template|default:"ewucal/base.html" %}
{% block content %}
{% load staticfiles %}

<script type="text/javascript" src="{{ STATIC_URL }}js/libs/get_csrf_token.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/Chart.bundle.js"></script>


<canvas id="raceChart" width="400" height="180"></canvas>

<canvas id="remainChart" width="400" height="180"></canvas>

<script type="text/javascript" src="{{ STATIC_URL }}js/view_progress.js"></script>

{% endblock %}

